.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    height: 100vh;
    padding: 20px;
    width: 25%;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.groups {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    background: orange;
}

.user-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    cursor: pointer;
}